ul{
    list-style-type: none;
}

.index-main{
    background-color: #eef2f3;

}

.index-title{
    text-align: center;
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 8dvh;
    margin-bottom: 5dvh;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.index-title2{

    margin-bottom: 5dvh;

}

.index-recent-song-flex{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Tres columnas, cada una ocupando un tercio del ancho */
    grid-template-rows: repeat(2, auto); /* Dos filas ajustadas a la altura de su contenido */
    gap: 1dvh; /* Espacio entre los elementos, ajustable */
    align-items: center;
    margin-left: 6dvh;
}

.song-thumbnail {
    width: 20dvh;
    height: 20dvh;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px; /* Opcional para esquinas redondeadas */
}

.song-item{
    margin-bottom: 8dvh;
}
