.main-content {
    background-color: #eef2f3;
}

.player {
    background-color: white;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    border: solid rgb(171, 171, 171) 1px;
    border-radius: 10px;
    padding: 2dvh 4dvh;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.bold {
    font-weight: 600;
}

.titulo {
    font-family: "Nokora", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 10dvh;
}

.gstuff {
    display: flex;
    gap: 5dvh;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

.comment-cont {
    margin-top: 5dvh;
    margin-bottom: 5dvh;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 1dvh;
    margin-bottom: 3dvh;
}

.comment textarea {
    border: none;
    border-bottom: solid 3px rgb(83, 81, 81);
}

.comment button {
    margin-top: 1dvh;
    height: 6dvh;
    width: 20dvh;
    font-size: 2dvh;
}

.escrito {
    margin-right: 10dvh;
    text-align: justify;
}

.song-thumbnail {
    width: 50dvh;
    height: 50dvh;
}

/* Nuevas reglas para el reproductor de audio */
audio {
    width: 100%;
    height: 5dvh;
    border-radius: 10px;
    background-color: #f0f0f0;
    border: cyan .2dvh solid;
    outline: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 2dvh;
    transition: all 0.3s ease;
}

/* Efecto hover sobre la miniatura de la canción */

